body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 160px 1fr;
    grid-gap: 30px;
}
.logo {
    width: 150px;
    height: 130px;
    margin: 3% 10%;
  }

  header {
    grid-row: 1/2;
    background-color: aqua;
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
  }
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 10px;
    text-align: center;
    border: 2px solid white;
  }

  .has-border {
    border-radius: 25px;
    border: 2px solid #0795C3;
    background: none;
    padding: 10px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
  }
div {
    text-align: center;
}
form {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightgray;
}
#contacthead {
    grid-row: 1/2;
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contactname {
    grid-row: 2/3;
    grid-column: 1/2;
}
#contactemail {
    grid-row: 2/3;
    grid-column: 2/3;
}
#contactcomments {
    grid-row: 2/3;
    grid-column: 3/4;
}
#contacthear {
    grid-row: 3/4;
    grid-column: 1/2;
}
#contactback {
    grid-row: 3/4;
    grid-column: 2/3;
}
#contactbirthday {
    grid-row: 3/4;
    grid-column: 3/4;
}
#contactsubmit {
    grid-row: 4/5;
    grid-column: 1/4;
}
@media (max-width: 768px) {
    nav {
        flex-wrap: wrap;
    }
    nav > a {
        font-size: 12px;
    }
    form {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    #contacthead {
        grid-column: 1/3;
    }
    #contactcomments {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    #contacthear {
        grid-column: 2/3;
    }
    #contactback {
        grid-row: 4/5;
        grid-column: 1/2;
    }
    #contactbirthday {
        grid-row: 4/5;
        grid-column: 2/3;
    }
    #contactsubmit {
        grid-row: 5/6;
        grid-column: 1/3;
    }
}
@media (max-width: 576px) {
    form {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    #contacthead {
        grid-row: 1/2;
    }
    #contactname {
        grid-row: 2/3;
    }
    #contactemail {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    #contactcomments {
        grid-row: 4/5;
    }
    #contacthear {
        grid-row: 5/6;
        grid-column: 1/2;
    }
    #contactback {
        grid-row: 6/7
    }
    #contactbirthday {
        grid-row: 7/8;
        grid-column: 1/2;
    }
    #contactsubmit {
        grid-row: 8/9;
    }
}



