body {
    width:900px;
    height: 900px;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 25% 75%;
}
img {
    width: 60%;
    }
.icon {
    width: 50px;
}
.image {
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
  }
.bio {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: large;
    padding-left: 50px;
}
.contact-info {
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: center;
    background-color: aqua;
    display: grid;
    grid-template-rows: 8% 23% 23% 23% 23%;
}
h4 {
    grid-row: 1/2;
}
.phone {
    padding-top: 20px;
    grid-row: 2/3;
}
.address {
    grid-row: 3/4;
}
.email {
    grid-row: 4/5;
}
.linkedIn {
    grid-row: 5/6;
}

.history {
    grid-row: 2/3;
    grid-column: 2/3;
    padding-left: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.expertise {
    grid-row: 1/2;
}
.work {
    grid-row: 2/3;
}
.education {
    grid-row: 3/4;
}